<div class="screen-centered">
  <form (submit)="playPromise = play()" class="form-centered">
    <div class="form-element">
      <label for="screen_key">Enter your screen key:</label>
      <input
        type="text"
        name="screen_key"
        id="screen_key"
        [(ngModel)]="screenKey"
      />
    </div>
    <div class="form-buttons">
      <button [promiseBtn]="playPromise">Play</button>
    </div>
    <div class="text-error info">
      {{ errorMessage }}
    </div>
    <p>Sample keys:</p>
    <p class="info">
      1 playlist: <b>0f127773-529f-4ff8-b211-af9e5c22a5bc</b> (or any other
      string because original API does not support CORS, I've used the API Mock
      service instead).
    </p>
    <p class="info">
      2 playlists:
      <b>0f127773-529f-4ff8-b211-af9e5c22a5bd</b>
    </p>
  </form>
</div>
