<div class="screen-centered">
  <form (submit)="playPromise = play()" class="form-centered">
    <div class="form-element">
      <label for="screen_key">Enter your screen key:</label>
      <input
        type="text"
        name="screen_key"
        id="screen_key"
        [(ngModel)]="screenKey"
      />
    </div>
    <div class="form-buttons">
      <button [promiseBtn]="playPromise">
        Play
      </button>
    </div>
    <div class="text-error">
      {{ errorMessage }}
    </div>
  </form>
</div>
