.form-centered {
    * {
        margin-top: 0.5em;
    }
    label {
        display: block;
    }
    input {
        min-width: 250px;
        padding: 5px;
    }
    text-align: center;
}
.text-error {
    min-height: 1.1em;
    max-width: 520px;
}