.media {
  width: auto !important;
  height: 100%;
}
:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media {
  &.show {
    opacity: 1;
  }
  transition: 0.5s all;
  opacity: 0;
}
.screen-centered {
  position: absolute;
  width: 100%;
}
