html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-error {
  color: #f00;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
button {
    &.is-loading {
        .lds-dual-ring {
            display: inline-block;
            width: 17px;
            opacity: 1;
        }
    }
    .lds-dual-ring {
        &::after {
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            margin: 0px 6px;
            border-width: 3px;
        }
        transition: 0.2s all;
        height: 12px;
        width: 0;
        opacity: 0;
    }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
